{% extends 'app_users/personal_account.html' %}
{% load static %}
{% block account_header %}
  История заказов
{% endblock %}
{% block account_subheader %}
  История заказов
{% endblock %}
{% block account_menu %}
  <ul class="menu menu_vt">
    <li class="menu-item">
      <a class="menu-link" href="{% url 'personal_account' %}">Личный кабинет</a>
    </li>
    <li class="menu-item">
      <a class="menu-link" href="{% url 'profile' %}">Профиль</a>
    </li>
    <li class="menu-item_ACTIVE menu-item">
      <a class="menu-link" href="/orders">История заказов</a>
    </li>
    <li class="menu-item">
      <a class="menu-link" href="/goods/last-viewed">Просмотренные товары</a>
    </li>
  </ul>
{% endblock %}
{% block account_content %}
  {% if orders %}
    <div class="Orders">
      {% for order in orders %}
      <div class="Order Order_anons">
        <div class="Order-personal">
          <div class="row">
            <div class="row-block">
              <a class="Order-title" href="oneorder.html">Заказ&#32;
                <span class="Order-numberOrder">№{{ order.id }}</span>
                &#32;от&#32;<span class="Order-dateOrder">{{ order.dt }}
                </span>
              </a>
            </div>
            <div class="row-block">
              <div class="Order-info Order-info_delivery">
                <div class="Order-infoType">
                  Тип доставки:
                </div>
                <div class="Order-infoContent">
                  {{ order.shipment.deliverymethod }}
                </div>
              </div>
              <div class="Order-info Order-info_pay">
                <div class="Order-infoType">
                  Оплата:
                </div>
                <div class="Order-infoContent">
                  {{ order.paid.paymentmethodtext }}
                </div>
              </div>
              <div class="Order-info">
                <div class="Order-infoType">
                  Общая стоимость:
                </div>
                <div class="Order-infoContent">
                  <span class="Order-price">{{ order.total }}</span>
<!--                  <span class="Order-price_old">{{ order.price_old }}$</span>-->
                </div>
              </div>
              <div class="Order-info Order-info_status">
                <div class="Order-infoType">
                  Статус:
                </div>
                <div class="Order-infoContent">
                  {{ order.paymentidx }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  {% else %}
    <p>The order history is empty</p>
  {% endif %}
{% endblock %}