<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="assets/css/login-main.css">
</head>
<body>

  <div class="container">
      <div class="card card-container">
          <form class="form-signin">
              <span id="reauth-email" class="reauth-email"></span>
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
              <div id="remember" class="checkbox">
                  <label>
                      <input type="checkbox" value="remember-me"> Запомнить
                  </label>
              </div>
              <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Войти</button>
          </form><!-- /form -->
          <a href="#" class="forgot-password">
              Забыли пароль?
          </a>
      </div>
  </div>
  <script src="assets/js/jquery-1.11.1.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/login-main.js"></script>
</body>
</html>