{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">
            Корзина
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item">
              <a href="{% url 'main' %}">домой</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current">
              <span>Корзина</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
        {% if cart %}
        <form class="form Cart" action="/orders/create" method="post">
          {% csrf_token %}
          {% for item in cart %}
            <div class="Cart-product">
              <div class="Cart-block Cart-block_row">
                <div class="Cart-block Cart-block_pict">
                  <a class="Cart-pict" href="/goods/{{ item.goods.id }}">
                    <img class="Cart-img" src="/media/{{ item.goods.image }}" alt="{{ item.goods.goodsname }}"/>
                  </a>
                </div>
                <div class="Cart-block Cart-block_info">
                  <a class="Cart-title" href="/goods/{{ item.goods.id }}">
                    {{ item.goods.goodsname }}
                  </a>
                  <div class="Cart-desc">
                    {{ item.goods.description }}
                  </div>
                </div>
                <div class="Cart-block Cart-block_price">
                  <div class="Cart-price">
                    {{ item.price|floatformat:2 }}
                  </div>
                </div>
              </div>
              <div class="Cart-block Cart-block_row">
                <div class="Cart-block Cart-block_seller">
                  <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
                  {% for store in item.stores %}
                  <select class="form-select">
                    {% if store.shopidx.id == item.shop_id %}
                      <option value="{{ store.shopidx.id }} selected">
                    {% else %}
                      <option value="{{ store.shopidx.id }}">
                    {% endif %}
                      {{ store.shopidx.shopname }}
                    </option>
                  </select>
                  {% endfor %}
                </div>
                <div class="Cart-block Cart-block_amount">
                  <div class="Cart-amount">
                    <div class="Amount">
                      <button class="Amount-remove" type="button">
                      </button>
                      <input class="Amount-input form-input" name="amount" type="text" value="{{ item.quantity }}" max="{{ item.goods.available_quantity }}"/>
                      <button class="Amount-add" type="button">
                      </button>
                    </div>
                  </div>
                </div>
                <div class="Cart-block Cart-block_delete">
                  <a class="Cart-delete" href="remove/{{ item.goods.id }}">
                    <img src="{% static 'assets/img/icons/card/delete.svg' %}" alt="delete.svg"/>
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}
          <div class="Cart-total">
            <div class="Cart-block Cart-block_total">
              <strong class="Cart-title">
                Итого:
              </strong>
              <span class="Cart-price">{{ cart.total_cost|floatformat:2 }}</span>
<!--              <span class="Cart-price_old">{{ cart.total_cost }}</span>-->
            </div>
            <div class="Cart-block">
              <a class="btn btn_success btn_lg" href="/orders/create">
                Оформить заказ
              </a>
            </div>
          </div>
        </form>
        {% else %}
          <p>Ваша корзина пуста</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}