{% load static %}
{% load humanize %}
{% load l10n %}
{% if day_offer %}
    <div class="day-offer flex">
        <h3 class="section__title header-reset">
            Предложение дня
        </h3>
        <div class="goods-img-section flex">
            <a href="/goods/{{ day_offer.id }}" class="card-link">
                <img class="goods-img" src="media/{{ day_offer.image }}" alt="day_offer.goodsname">
            </a>
        </div>
        <div class="goods-description flex">
            <strogn class="goods-title header-reset">
                <a href="/goods/{{ day_offer.id }}" class="card-link">
                    {{ day_offer.goodsname }}
                </a>
            </strogn>
            <div class="goods-price flex">
                {% if item.discount %}
                    <span class="usual-price">{{ day_offer.price|floatformat:2|intcomma }}</span>
                    <span>{{ day_offer.discountprice|floatformat:2|intcomma }}</span>
                {% else %}
                    <span>{{ day_offer.price|floatformat:2|intcomma }}</span>
                {% endif %}
                <span>рублей</span>
            </div>
            <span class="goods-cat">
            {% if day_offer.categoryidx.parent %}
                {{ day_offer.categoryidx.parent.categoryname }} /
            {% endif %}
            {{ day_offer.categoryidx.categoryname }}
            </span>
        </div>
        <ul class="timer list-reset flex">
            <li class="timer__item">
                <div class="digit-box flex hrs" id="hrs"></div>
                <div class="block-label">часов</div>
            </li>
            <li class="timer__item">
                <div class="digit-box flex" id="mins"></div>
                <div class="block-label">минут</div>
            </li>
            <li class="timer__item">
                <div class="digit-box flex" id="secs"></div>
                <div class="block-label">секунд</div>
            </li>
        </ul>
    </div>
{% endif %}