{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="content__popular">
        <ul class="goods-list list-reset flex">
            {% for item in goods %}
            <li class="good__card flex">
                <img class="goods-img" src="img/card.jpg" alt="">
                <h4 class="goods-title header-reset">
                    {{ item.goodsname }}
                </h4>
                <span class="goods-price">{{ item.price }}</span>
                <span class="goods-cat">Игры / приставки</span>
                <a href="/goods/{{ item.id }}" class="card-link"></a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}