{% load static %}
{% load humanize %}
{% load l10n %}
<div class="Card">
  <a class="Card-picture" href="/goods/{{ item.id }}">
    <img src="/media/{{ item.image }}" alt="{{ item.goodsname }}"/>
  </a>
  <div class="Card-content">
    <strong class="Card-title">
      <a href="/goods/{{ item.id }}">
        {{ item.goodsname }}
      </a>
    </strong>
    <div class="Card-description">
      <div class="Card-cost">
          {% if item.discount %}
            <span class="Card-priceOld">{{ item.price|floatformat:2|intcomma }}</span>
            <span class="Card-price">{{ item.discount_price|floatformat:2|intcomma }}</span>
          {% else %}
            <span class="Card-price">{{ item.price|floatformat:2|intcomma }}</span>
          {% endif %}
        </div>
      <div class="Card-category">
          {% if item.categoryidx.parent %}
            {{ item.categoryidx.parent.categoryname }} /
          {% endif %}
          {{ item.categoryidx.categoryname }}
        </div>
      <div class="Card-hover">
        <a class="Card-btn" href="#">
          <img src="{% static 'assets/img/icons/card/bookmark.svg' %}" alt="bookmark.svg"/>
        </a>
        <a class="Card-btn" href="/cart/add/{{ item.id }}">
          <img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"/>
        </a>
        <a class="Card-btn" href="compare.html">
          <img src="{% static 'assets/img/icons/card/change.svg' %}" alt="change.svg"/>
        </a>
      </div>
    </div>
  </div>
  {% if item.discount %}
    <div class="Card-sale">-{{ item.discount }}%</div>
  {% endif %}
</div>