{% load static %}
{% if banners %}
  <div class="Header-slider">
    <div class="Slider Slider_main">
      <div class="Slider-box">
        {% for item in banners %}
          <div class="Slider-item">
            <div class="Slider-content">
              <div class="row">
                <div class="row-block">
                  <div class="Slider-footer">
                    <a href="{{ item.bannerlink }}"> <img src="/media/{{ item.bannerimg }}" alt="{{ item.advertisementname }}"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="Slider-navigateWrap">
        <div class="Slider-navigate">
        </div>
      </div>
    </div>
  </div>
{% endif %}