{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shop</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js" defer></script>
    <script src="{% static 'js/script.js' %}" defer></script>
</head>
<body>
    {% include "header.html" %}
    <section class="content container">
    {% block content %}
    {% endblock %}
    </section>
    {% include "footer.html" %}
</body>
</html>