{% load static %}
<footer class="footer container">
    <div class="footer__contact">
        <div class="footer__section flex">
            <a href="#" class="footer__logo"><img src="{% static 'img/logo_footer.png' %}" alt=""></a>
            <p class="about-descr">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus sapiente quis omnis dolorum culpa eaque adipisci porro iure nemo eum impedit ea libero labore ducimus, esse similique vero necessitatibus quasi?</p>
            <ul class="footer__socials list-reset flex">
                <li class="social-item">
                    <a href="http://facebook.com"><img src="{% static 'img/f_fb.svg' %}" alt="Мы в facebook"></a>
                </li>
                <li class="social-item">
                    <a href="http://twitter.com"><img src="{% static 'img/f_tw.svg' %}" alt="Мы в twitter"></a>
                </li>
                <li class="social-item">
                    <a href="http://linkedin.com"><img src="{% static 'img/f_in.svg' %}" alt="Мы в linkedin"></a>
                </li>
                <li class="social-item">
                    <a href="http://pinterest.com"><img src="{% static 'img/f_pt.svg' %}" alt="Мы в pinterest"></a>
                </li>
                <li class="social-item">
                    <a href="#"><img src="{% static 'img/f_mail.svg' %}" alt=""></a>
                </li>
            </ul>
        </div>
        <div class="footer__section flex">
            <strong class="footer__title header-reset">
                Полезное
            </strong>
            <ul class="footer__links list-reset">
                <li class="footer__link">
                    <a href="#">Оформить заказ</a>
                </li>
                <li class="footer__link">
                    <a href="#">Корзина</a>
                </li>
                <li class="footer__link">
                    <a href="#">Доставка</a>
                </li>
                <li class="footer__link">
                    <a href="#">Заказ</a>
                </li>
                <li class="footer__link">
                    <a href="#">Термины</a>
                </li>
                <li class="footer__link">
                    <a href="#">Условия</a>
                </li>
            </ul>
        </div>
        <div class="footer__section flex">
            <strong class="footer__title header-reset">
                Аккаунт
            </strong>
            <ul class="footer__links list-reset">
                <li class="footer__link">
                    <a href="#">Аксессуары</a>
                </li>
                <li class="footer__link">
                    <a href="#">Сумки</a>
                </li>
                <li class="footer__link">
                    <a href="#">Камеры</a>
                </li>
                <li class="footer__link">
                    <a href="#">Одежда</a>
                </li>
                <li class="footer__link">
                    <a href="#">Электроника</a>
                </li>
                <li class="footer__link">
                    <a href="#">Мода</a>
                </li>
            </ul>
        </div>
        <div class="footer__section flex">
            <strong class="footer__title header-reset">
                Наши контакты
            </strong>
            <ul class="footer__links list-reset">
                <li class="footer__address">
                    <span>Телефон: </span>
                    <a href="tel:+70000000">+7 (000) 00-0000</a>
                </li>
                <li class="footer__address">
                    <span>Email: </span>
                    <a href="mailto:info@online_shop.ru">info@online_shop.ru</a>
                </li>
                <li class="footer__address">
                    <span>Skype: </span>
                    <a href="#">techno</a>
                </li>
                <li class="footer__address">
                    <span>Адрес: г. Москва, ул. Большая Якиманка, д. 190</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__copy">
        <div class="footer__rights">
            © Copyleft
            <a class="rights-link" href="#">Online Shop</a>
            Все права защищены
        </div>
        <div class="footer__payments">
            <span class="payments-title">
                Можно платить:
            </span>
            <ul class="footer__payments-list list-reset flex">
                <li class="footer__payment">
                    <img src="{% static 'img/visa.png' %}" alt="">
                </li>
                <li class="footer__payment">
                    <img src="{% static 'img/mastercard.png' %}" alt="">
                </li>
                <li class="footer__payment">
                    <img src="{% static 'img/paypal.png' %}" alt="">
                </li>
                <li class="footer__payment">
                    <img src="{% static 'img/american.png' %}" alt="">
                </li>
                <li class="footer__payment">
                    <img src="{% static 'img/electron.png' %}" alt="">
                </li>
                <li class="footer__payment">
                    <img src="{% static 'img/maestro.png' %}" alt="">
                </li>
                <li class="footer__payment">
                    <img src="{% static 'img/delta.png' %}" alt="">
                </li>
                <li class="footer__payment">
                    <img src="{% static 'img/e.png' %}" alt="">
                </li>
                <li class="footer__payment">
                    <img src="{% static 'img/dk.png' %}" alt="">
                </li>
            </ul>
        </div>
    </div>
</footer>
