{% load static %}
<header class="header">
    <div class="container">
        <div class="header__control flex">
            <div class="header__delivery header__text"><a href="#">ДОСТАВКА</a></div>
            <div class="header__social header__text flex">
                <span class="social-title">МЫ В СОЦ. СЕТЯХ</span>
                <ul class="social-menu list-reset flex">
                    <li class="social-item">
                        <a href="http://facebook.com"><img src="{% static 'img/fb.svg' %}" alt="Мы в facebook"></a>
                    </li>
                    <li class="social-item">
                        <a href="http://twitter.com"><img src="{% static 'img/tw.svg' %}" alt="Мы в twitter"></a>
                    </li>
                    <li class="social-item">
                        <a href="http://linkedin.com"><img src="{% static 'img/in.svg' %}" alt="Мы в linkedin"></a>
                    </li>
                    <li class="social-item">
                        <a href="http://pinterest.com"><img src="{% static 'img/pt.svg' %}" alt="Мы в pinterest"></a>
                    </li>
                    <li class="social-item">
                        <a href="#"><img src="{% static 'img/mail.svg' %}" alt=""></a>
                    </li>
                </ul>
            </div>
            <div class="header__user header__text">
                {% if request.user.is_authenticated %}
                    <a href="#">личный кабинет {{user.username}} </a>
                {% else %}
                    <a href="#">ВХОД</a>
                {% endif %}
            </div>
        </div>
        <div class="header__main flex">
            <div class="header__logo">
                <a href="#"><img src="{% static 'img/logo.png' %}" alt="Наш магазин"></a>
            </div>
            <nav class="header__nav">
                <ul class="header__menu list-reset flex">
                    <li class="menu-item">
                        <a href="#">Домой</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Блог</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Галерея</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Оплата</a>
                    </li>
                </ul>
            </nav>
            <div class="header__cart">
                <a href="http://#"><img src="{% static 'img/cart.svg' %}" alt="Корзина"></a>
            </div>
        </div>
        <div class="header__search flex">
            <div class="menu__wrapper">
                <button class="header__btn btn-reset flex">
                    <img class="btn-img" src="{% static 'img/allDep.svg' %}" alt="">
                    <span class="btn-title">Наш каталог</span>
                    <img src="{% static 'img/arrowSlide.svg' %}" alt="">
                </button>
                <ul class=" list-reset menu__cats">
                    {% for category in categories %}
                    <li class="cat__item">{{ category.categoryname }}</li>
                    {% endfor %}
                </ul>
            </div>
            <form class="search-form flex" action="{% url 'app_goods:find_goods' %}" method="GET">
                <input class="search-input flex" name="query" type="text" placeholder="Что будем искать...">
                <button class="search-btn btn-success flex" type="submit">
                    <img class="search-img" src="{% static 'img/search.svg' %}" alt="">
                    <span class="btn-title">Поиск</span>
                </button>
            </form>
        </div>
    </div>
</header>
