{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load l10n %}
{% block content %}
    <div class="content__banners">
        <div class="swiper banners-swiper">
            <div class="swiper-wrapper">
            {% for item in banners %}
              <div class="swiper-slide banner-card flex">
                  <a href="{{ item.bannerlink }}"> <img src="/media/{{ item.bannerimg }}" alt="{{ item.advertisementname }}"> </a>
              </div>
            {% endfor %}
            </div>
            <div class="swiper-pagination banners-pagination"></div>
            <div class="swiper-button-prev banner-prev"></div>
            <div class="swiper-button-next banner-next"></div>
          </div>
    </div>
    <ul  class="content__categories list-reset content flex">
        {% for category in favorite_categories %}
        <li class="content__category flex">
            <div class="category__desc">
                <strong class="category__title header-reset">{{ category.categoryname }}</strong>
                <p class="category__price">
                    от <span class="price">{{ category.min_price|floatformat:2|intcomma }} рублей</span>
                </p>
            </div>
            <img src="media/{{ category.categoryimg }} " alt="категория">
            <a href="/categories/{{ category.id }}" class="cat-link"></a>
        </li>
        {% endfor %}
    </ul>
    <div class="content__popular content">
        <h3 class="section__title header-reset">
            Популярные товары
        </h3>
        <ul class="goods-list list-reset flex">
            {% for item in top_goods %}
            <li class="good__card flex">
                <img class="goods-img" src="media/{{ item.goodsimg }}" alt="item.goodsname">
                <h4 class="goods-title header-reset">
                    {{ item.goodsname }}
                </h4>
                <span class="goods-price">{{ item.price }}</span>
                <span class="goods-cat">Игры / приставки</span>
                <a href="/goods/{{ item.id }}" class="card-link"></a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="content__limited content">
        <h3 class="section__title header-reset">
            Ограниченный тираж
        </h3>
        <div class="swiper goods-swiper">
            <div class="swiper-wrapper">
            {% for item in limited_goods %}
              <div class="swiper-slide good__card flex">
                <img class="goods-img" src="img/card.jpg" alt="">
                <h4 class="goods-title header-reset">
                  {{ item.goodsname }}
                </h4>
                <span class="goods-price">{{ item.price }}</span>
                <span class="goods-cat">Игры / приставки</span>
                <a href="/goods/{{ item.id }}" class="card-link"></a>
              </div>
            {% endfor %}
            </div>
            <div class="swiper-pagination goods-pagination"></div>
            <div class="swiper-button-prev goods-prev"></div>
            <div class="swiper-button-next goods-next"></div>
          </div>
    </div>
{% endblock %}
